h1{
  color: red;
}
.disp{
  height: 300px;
  width: 100px;
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .box{
    background-color: white;
    position: relative;
    height: 70px;
    width: 90%;
    border: 1px solid red;
    border-radius: 10px;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-around;
    //align-items: center;
    //flex-wrap: nowrap;
    //gap: 70px;
    overflow: hidden;

    &>div{
      position: relative;
      //border: 1px solid red;
      height: 70px;
      //width: 100%;
      top: -700px;
      object-fit: cover;
      font-size: 36px;
      //vertical-align: middle;
      //line-height: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      //animation: 2.5s slider infinite linear;
      transition: 3s ease;
      //animation-play-state: paused;
    }
  }
}
.container{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
